@page
@model RedTen.Pages.Players.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Player Details</h1><p></p>

<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Player.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Player.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Player.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Player.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Player.PlayerId">
        <input type="button" value="Edit" class="btn btn-primary" />
    </a> 
    <a asp-page="./Index">
        <input type="button" value="Back To Players" class="btn btn-secondary" />
    </a>
</div>
