@page
@model RedTen.Pages.Players.IndexModel

@{
    ViewData["Title"] = "Players";
}

<h1>Players <a id="addPlayerId" asp-page="Create"><input type="button" value="New Player" class="btn btn-success" /></a></h1>

<p>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Player[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player[0].Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Player) {
        <tr>
            <td style="vertical-align:middle">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td style="vertical-align:middle">
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td style="text-align:right">
                <a asp-page="./Edit" asp-route-id="@item.PlayerId">
                    <input type="button" value="Edit" class="btn btn-primary btn-sm" />
                </a> 
                <a asp-page="./Details" asp-route-id="@item.PlayerId">
                    <input type="button" value="Details" class="btn btn-secondary btn-sm" />
                </a> 
                <a asp-page="./Delete" asp-route-id="@item.PlayerId">
                    <input type="button" value="Delete" class="btn btn-danger btn-sm" />
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
