@page
@model RedTen.Pages.Games.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Game Results</h1><p></p>

<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Session_Time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.Session_Time)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.Location)
        </dd>
        <dt class="col-sm-2">
            Winners
        </dt>
        <dd class="col-sm-10">
            <ul style="list-style-type: none; padding-left: 0">
                @foreach (var item in Model.Players)
                {
                    <li>
                        @Html.DisplayFor(modelItem => item.Name)
                    </li>
                }
            </ul>
        </dd>
        <dt class="col-sm-2">
            Losers
        </dt>
        <dd class="col-sm-10">
            <ul style="list-style-type: none; padding-left: 0">
                @foreach (var item in Model.Losers)
                {
                    <li>
                        @Html.DisplayFor(modelItem => item.Name)
                    </li>
                }
            </ul>
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Game.Players)*@
        </dt>
        <dd class="col-sm-10">
            @*@Html.DisplayFor(model => model.Game.Players)*@
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Game.GameId">
        <input type="button" value="Edit Result" class="btn btn-primary" />
    </a> 
    <a asp-page="./Index">
        <input type="button" value="Back To Games" class="btn btn-secondary" />
    </a>
</div>
