@page
@model RedTen.Pages.Games.IndexModel

@{
    ViewData["Title"] = "Game";
}

<h1>Games <a asp-page="Create">
    <input type="button" value="New Game" class="btn btn-success" />
</a></h1>

<p>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Session_Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Game) {
        <tr>
            <td style="vertical-align:middle">
                @Html.DisplayFor(modelItem => item.Session_Time)
            </td>
            <td style="vertical-align:middle">
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td style="text-align:right">
                <a asp-page="./Edit" asp-route-id="@item.GameId">
                    <input type="button" value ="Edit Results"class="btn btn-primary btn-sm"/>
                </a>
                <a asp-page="./Details" asp-route-id="@item.GameId">
                    <input type="button" value="View Details" class="btn btn-secondary btn-sm" />
                </a>
                <a asp-page="./Delete" asp-route-id="@item.GameId">
                    <input type="button" value="Delete" class="btn btn-danger btn-sm" />
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
